@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Lato, Helvetica, Arial, sans-serif;
}

/* 
    non active 
color: #bab5b5f9
*/

/*
color: #f8cd51
*/
.break--height-line {
    height: 24px;
    width: 1px;
    background-color: #bab5b5f9;
}

.home-nav-fluid {
    position: fixed;
    top: 0;

    padding: 0;
    height: 88px;
    background-color: #072146;
}

.home-nav-container {
    height: 100%;
    padding-inline: 3rem;
}

.home-nav-sections {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.home-nav-item {
    position: relative;
    height: 100%;

    display: grid;
    align-items: center;

    overflow: hidden;
}

.home-nav-item.active::after {
    content: "";
    
    width: 100%;
    height: 5px;

    background-color: #FFF;

    position: absolute;
    bottom: 0;
    left: 0;
}

.home-nav-link {
    font-size: 0.875rem;
    font-weight: 700;
    color: #bab5b5f9 !important;
}

.home-nav-link.active {
    color: #FFF !important;
}

.home-nav-card {
    display: flex !important;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;

    color: #bab5b5f9;
    font-weight: 500;
}

.home-nav-card:hover {
    color: #bab5b5f9;
}

.home-nav-card.active {
    color: #f8cd51 !important;
}

.home-nav-icon {
    width: 20px;
    aspect-ratio: 1;
    fill: #FFF;
}

.home-nav-card-icon {
    fill: #bab5b5f9;
}

.home-button {
    background-color: #028484;
    border-radius: 0;
    border: 0;

    color: #FFF;
    font-size: 1rem;
    font-weight: 700;

    padding: 1rem 1.5rem;
}

.home-button:hover{
    opacity: 1;
    background-color: #028484;
    color: #FFF;
}

.home-search-container {
    margin-inline: 1rem;
}

.home-nav-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home-nav-menu span {
    color: #FFF;
    font-weight: 600;
}

.home-nav-img {
    height: 40px;
    margin: auto;
}

